<?xml version="1.0"?>
<!--
/**
 * @category    Swell
 * @package     Swell_Swell
 * @copyright   Copyright (c) Swell Rewards (https://www.swellrewards.com/)
 */
 -->
<config>
    <modules>
        <Swell_Swell>
            <version>1.1.0</version>
        </Swell_Swell>
    </modules>
    <global>
        <models>
            <swell>
                <class>Swell_Swell_Model</class>
                <resourceModel>swell_resource</resourceModel>
            </swell>
            <swell_resource>
                <class>Swell_Swell_Model_Resource</class>
                <entities>
                    <account>
                        <table>swell_accounts</table>
                    </account>
                    <notification>
                        <table>swell_notifications</table>
                    </notification>
                    <referral>
                        <table>swell_referrals</table>
                    </referral>
                </entities>
            </swell_resource>
        </models>
        <helpers>
            <swell>
                <class>Swell_Swell_Helper</class>
            </swell>
        </helpers>
        <resources>
            <swell_setup>
                <setup>
                    <module>Swell_Swell</module>
                </setup>
            </swell_setup>
        </resources>
        <events>
            <admin_system_config_changed_section_swell>
                <observers>
                    <swell_setup_save_success>
                        <type>singleton</type>
                        <class>Swell_Swell_Model_Observer</class>
                        <method>swellSetupSaveSuccess</method>
                    </swell_setup_save_success>
                </observers>
            </admin_system_config_changed_section_swell>
            <customer_save_commit_after>
                <observers>
                    <swell_customer_save_commit_after>
                        <type>singleton</type>
                        <class>Swell_Swell_Model_Observer</class>
                        <method>afterCustomerSaved</method>
                    </swell_customer_save_commit_after>
                </observers>
            </customer_save_commit_after>
            <customer_save_before>
                <observers>
                    <swell_customer_save_before>
                        <type>singleton</type>
                        <class>Swell_Swell_Model_Observer</class>
                        <method>beforeCustomerSaved</method>
                    </swell_customer_save_before>
                </observers>
            </customer_save_before>
            <sales_order_save_before>
                <observers>
                    <swell_sales_order_save_before>
                        <class>Swell_Swell_Model_Observer</class>
                        <method>beforeAdminOrderSaved</method>
                    </swell_sales_order_save_before>
                </observers>
            </sales_order_save_before>
            <sales_order_save_commit_after>
                <observers>
                    <swell_sales_order_save_commit_after>
                        <class>Swell_Swell_Model_Observer</class>
                        <method>afterAdminOrderSaved</method>
                    </swell_sales_order_save_commit_after>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <fieldsets>
            <sales_convert_quote_item>
                <swell_redemption_id>
                    <to_order_item>*</to_order_item>
                </swell_redemption_id>
                <swell_points_used>
                    <to_order_item>*</to_order_item>
                </swell_points_used>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <swell_redemption_id>
                    <to_quote_item>*</to_quote_item>
                </swell_redemption_id>
                <swell_points_used>
                    <to_quote_item>*</to_quote_item>
                </swell_points_used>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <swell_swell>
                <use>standard</use>
                <args>
                    <module>Swell_Swell</module>
                    <frontName>swell</frontName>
                </args>
            </swell_swell>
        </routers>
        <layout>
            <updates>
                <swell>
                    <file>swell.xml</file>
                </swell>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <Swell_Swell>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>swell/observer::processPendingNotifications</model>
                </run>
            </Swell_Swell>
        </jobs>
    </crontab>
    <default>
        <swell>
            <swellconfig>
                <cron_notifications>1</cron_notifications>
                <shared_secret backend_model="adminhtml/system_config_backend_encrypted"/>
            </swellconfig>
        </swell>
    </default>
</config>
